<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.hbuas.examsystem.mapper.RoomMapper">

    <!--查询所有room-->
    <select id="findAllRoom" resultType="room">
        select * from room
    </select>

    <!--导入所有考场信息-->
    <insert id="insertAllRoom" parameterType="room">
        insert into room (tid,rid,place,number,campus,storid)
        values
        <foreach collection="lists" item="list" separator=",">
            (#{list.tid},#{list.rid},#{list.place},#{list.number},#{list.campus},#{list.storid})
        </foreach>
    </insert>
    
    <!--批量删除room通过rrid-->
    <delete id="deleteManyRoomByRrid" parameterType="room">
        delete from room where rrid in
        <foreach collection="lists" item="list" open="(" close=")" separator=",">
            #{list.rrid}
        </foreach>
    </delete>
</mapper>